html,
body {
	font-family: 'Roboto', sans-serif;
}

html {
	//background: #f0efe8 url('../images/background/paw_pattern.02.png') repeat fixed;
}

#section-main {
	.logo {
		$size: 20rem;
		background: #fff url("../img/furry.02.png") no-repeat 50%;
		background-size: $size - 10rem;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		width: $size;
		height: $size;
	}
}
