#section-main {
	background: #000 no-repeat 50% fixed;
	background-size: contain;
}

#section-radio {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .4);

	.mejs__container {
		opacity: .6;
	}
}
